DATABASE_URL=mysql+pymysql://user:password@host:port/dbname
SECRET_KEY="d56xxx"
ALGORITHM="HXX"
ADMIN_USERNAME="XXX"
ADMIN_PASSWORD_HASH="$XXX"
META_ACCESS_TOKEN=your_meta_access_token_here
IG_USER_ID=your_ig_user_id_here
