alembic
annotated-doc
annotated-types
anyio
bcrypt==3.2.2
certifi
cffi
click
colorama
cryptography
Deprecated==1.3.1
dnspython
ecdsa==0.19.2
email-validator
exceptiongroup
fastapi
fastapi-cli
fastar
greenlet
h11
h2
hpack
httpcore
httptools
httpx
hyperframe
idna
importlib_metadata
iniconfig
Jinja2
limits==5.8.0
Mako
markdown-it-py
MarkupSafe
mdurl
packaging
passlib==1.7.4
pluggy
pyasn1==0.6.3
pycparser
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
Pygments
PyMySQL
pytest
python-dotenv
python-jose==3.5.0
python-multipart
PyYAML
rich
rich-toolkit
rsa==4.9.1
shellingham
six==1.17.0
slowapi==0.1.10
sniffio
SQLAlchemy
starlette
tomli
typer
typing-inspection
typing_extensions
uvicorn
uvloop
watchfiles
websockets
wrapt==2.2.2
zipp
google-genai==2.10.0
elevenlabs
